<!doctype html>
<html>
	<head>
		<title>lab 2</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="/lab2site/static/bootstrap.min.css">
		<script src="/lab2site/static/jquery.min.js"></script>
		<script src="/lab2site/static/scripts.js"></script>
	</head>
	<body>
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li><a href="/">Fill database with file</a></li>
						<li><a href="/comments">All comments</a></li>
						<li><a href="/articles">All articles</a></li>
						<li><a href="/categories">All categories</a></li>
					</ul>
				</div><!--/ nav -->
			</div>
		</div>
		<div style="margin-top: 100px" class="container">
			<div class="row">
				<div class="col-md-12">
					<table class="table table-striped">
						<thead>
							<tr>
								<td class="">comment</td>
								<td class="">author</td>
								<td class="">article</td>
								<td class="">update</td>
								<td class="">delete</td>
							</tr>
						</thead>
						<tbody>
							{% for row in table.table %}
								<tr class="{{ row.id }}">
									<td class="comment">{{ row.comment }}</td>
									<td class="author">{{ row.author }}</td>
									<td class="article">{{ row.article }}</td>
									<td>
										<a href="?action=update&id={{row.id}}" class="update-{{table.name}} btn-link">update</a>
									</td>
									<td>
										<a href="http://localhost:8000/comment-del?id={{row.id}}" class="delete {{table.name}}-btn-link">delete</a>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div><!-- / table -->
			<div class="row">
				<div class="col-md-12">
					<form id="add-comment" role="form">
						<input type="text" name="comment-text" class=" form-control input-md" placeholder="comment">
						<input type="text" name="comment-author" class=" form-control input-md" placeholder="author">
						<input type="text" name="article" class=" form-control input-md" placeholder="article">
						<button type="button" class="add-comment btn btn btn-primary">Add new comment</button>
					</form>
					<form style="display: none; margin-top: 25px" id="upd-comment" role="form">
						<input type="text" name="comment-text" class="comment-text form-control input-md" placeholder="comment">
						<input type="text" name="comment-author" class="comment-author form-control input-md" placeholder="author">
						<button type="button" class="upd-comment btn btn-primary">Change comment</button>
					</form>
				</div>
			</div><!-- / form -->
		</div><!-- / container -->
		<div style="margin-top: 50px"></div>
	</body>
</html>